a {
    color: #000000;
    text-decoration: none;
}

.btn {
    transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .50);
}